/* .App {
  font-family: sans-serif;
  text-align: center;
} */

html,
body {
  margin: 0;
  background-color: white;
}

#page-wrap h1{
  font-size: 1.2em;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #373a47;
  color: white;
  padding: 1em;
  margin-top: 0;
}

h2{
  font-size: 1em;
}

.myrides, .myaccount, .leaderboards, .home, .about, .ride, .settings{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  width: 100ch;
  max-width: 100vw;
  font-family: sans-serif;

}

.home, .about. myrides, myaccount, leaderboards h1{
  top: -2px;
}




#page-wrap {
  text-align: center;
  overflow: auto;
}


.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 20px;
  color: #1c1d24;
  transition: color 0.2s;
}

.bm-item:hover {
  color: red;
}

.bm-burger-button {
  position: fixed;
  width: 2em;
  height: 2em;
  left:1em;
  top: 1em;
}

.bm-burger-bars {
  background: red;
  border-radius: 0.5em;
}

.bm-cross-button {
  height: 1em;
  width: 1em;
}

.bm-cross {
  background: black;
}

.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.5em;
}


.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.5);
}
